<h2>Sign Up</h2>
<div class="form">
	<%= form_for @user do |f| %>
		<%= f.label :fname, "First Name" %>
		<br>
		<%= f.text_field :fname %>
		<br>
		<%= f.label :lname, "Last Name" %>
		<br>
		<%= f.text_field :lname %>
		<br>
		<%= f.label :username %>
		<br>
		<%= f.text_field :username %>
		<br>
		<%= f.label :email %>
		<br>
		<%= f.text_field :email %>
		<br>
		<%= f.label :password %>
		<br>
		<%= f.password_field :password %>
		<br>
		<%= f.submit "Sign Up", :class => "submit" %>
	<% end %>
</div>